.form-container {
    background: #b04949;
    padding: 30px;
    border-radius:10px;
    box-shadow: 10px 10px 10px 10px #4a3030;

}

body {
    margin: 0;
    color: #212529;
    background-color: #c2e3b6;
    
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Aclonica";
    font-size: 22px;
    background-color: #3c3434;
    color: #dd5d5d;
    text-align: center;


}




#register-form {
    width: 88%
/* vw vh  */
/* veiw width veiw hight */
    /* flex */
}