.form-container {
    background: #fff;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;

}



#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /* display: block; */
    background-color: grey;
    color: white;
    text-align: center;


}




#register-form {
    width: 88%
/* vw vh  */
/* veiw width veiw hight */
    /* flex */
}