.form-container {
    background: #fff;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;

}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /* display: block; */
    background-color: grey;
    color: white;
    text-align: center;
}